@model ProductivityTool.Data.Activity

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{

    
    <div class="form-horizontal">
        <h4>Activity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizingUnitID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SizingUnitID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SizingUnitID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @*  @Html.LabelFor(model => model.ActivityCategory.Name, "ActivityCategoryId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label for="ddl_Category" class="control-label col-md-2">Category</label>
            <div class="col-md-10">
                @Html.DropDownList("ddl_Category", (IEnumerable<SelectListItem>)ViewBag.ActivityCategory
                //((IEnumerable<SelectListItem>)Model.ActivityType.ActivityCategory).Select(r => new SelectListItem()
                //  { Text = r. , Value = r.Value })
                , htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ActivityType.ActivityCategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ActivityType.Name, "ActivityType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ddl-type-div">
                @*@Html.DropDownList("ActivityTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityTypeId, "", new { @class = "text-danger" })*@
            </div>
        </div>


    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $("[name=ddl_Category]").on("change", function () {
            let val = $(this).val();
            $.ajax({
                method: "POST",
                url: "GetByCategory/" + val
            }).done(function (res) {
                console.log(res);
                $ddl_div = $(".ddl-type-div")
                $ddl_div.empty();
                $ddl_div.append(`<select id="ddl_type" name="ddl_type"></select>`);
                $("#ddl_type").append("<option value> please select ....</option>");
                for (var type in res)
                {           
                    $("#ddl_type").append(` <option value="${type.ID}">${type.Name}</option> `);
                }
            });
        });
    });
</script>